---
import Icon from "@/components/Icon.astro";

type Props = {
	excludeList?: {
		instagram?: boolean;
		twitter?: boolean;
		email?: boolean;
		whatsapp?: boolean;
		github?: boolean;
		linkedin?: boolean;
	};
};

const { excludeList } = Astro.props as Props;
---

<div class={"social"}>
    {
        !excludeList?.whatsapp && (
            <a
                title="WhatsApp"
                target="_blank"
                href="https://api.whatsapp.com/send?phone=5582988299223&text=Want%20to%20develop%20an%20awesome%20project?%20Contact%20me%20directly%20so%20we%20can%20talk%20about%20it%20:)"
            >
                <Icon
                    name={"enterprises/whatsapp"}
                    aria-label="WhatsApp icon"
                />
            </a>
        )
    }
    {
        !excludeList?.instagram && (
            <a
                title="Instagram"
                href="https://instagram.com/theduardomaciel"
                target="_blank"
            >
                <Icon
                    name="enterprises/instagram"
                    aria-label="Instagram icon"
                />
            </a>
        )
    }
    {
        !excludeList?.twitter && (
            <a
                title="Twitter/X"
                href="https://twitter.com/theduardomaciel"
                target="_blank"
            >
                <Icon
                    name={"enterprises/twitter"}
                    aria-label="Twitter icon"
                />
            </a>
        )
    }
    {
        !excludeList?.email && (
            <a
                title="E-mail"
                href="mailto:eduardomacielbr@gmail.com"
                target="_blank"
            >
                <Icon
                    name={"email"}
                    aria-label="E-mail icon"
                />
            </a>
        )
    }
    {
        !excludeList?.github && (
            <a
                title="Github"
                href="https://github.com/theduardomaciel"
                target="_blank"
            >
                <Icon
                    name="enterprises/github"
                    aria-label="GitHub icon"
                />
            </a>
        )
    }
    {
        !excludeList?.linkedin && (
            <a
                title="LinkedIn"
                href="https://www.linkedin.com/in/theduardomaciel/"
                target="_blank"
            >
                <Icon
                    name={"enterprises/linkedin"}
                    aria-label="LinkedIn icon"
                />
            </a>
        )
    }
</div>

<style>
    .social {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2.5rem;

        align-items: center;
    }

    .social a {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    [data-icon] {
        cursor: pointer;
    }

    [data-icon] {
        color: var(--primary-01);
    }
</style>
